[Unit]
Description=Check integrity of configured directories
After=usr.mount etc.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/pesticide/check
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target