[Unit]
Description=Set selinux rules for nix
After=nix.mount etc.mount
BindsTo=nix.mount

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/containerconf/shell.d/semanage.sh
ExecStartPost=/bin/systemctl disable semanage-nix.service

[Install]
WantedBy=multi-user.target