[Unit]
Description=Start the default container
After=default.target

[Service]
Type=oneshot
ConditionPathExists=$HOME/.config/containerconf/
ExecStart=/usr/bin/distrobox-enter cherry -- echo "init" && exit 0

[Install]
WantedBy=default.target